<h1>Hello from Rails!</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<p>
	It is now <%= @time %> and the sum of 1 and 2 is <%= 1+2 %>
</p>
<p>
	Playtime - addition 1 and 2 : <%= 1+2 %>
</p>
<p>
	Playtime - concatenation cow + boy : <%= "cow" + "boy" %>	
</p>
<p>
	Playtime - Time in one hour : <%= 2.hour.from_now.localtime %>
</p>
<p>
	Time to say
	<%= link_to "Goodbye", say_goodbye_path %>!
</p>
